@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');


/* <------------------------------VARIABLES---------> */
:root {
        /*<------------PRIMARY-------------- */
     --pink-color: hsl(322, 100%, 66%);
     /* <----------------NEUTRAL---------------------> */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

/* <------------------------------INITIALS--------> */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    width: 1440px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

/* <-------------------------------------------------HEADER STYLES--------------> */
header {
    display: block;
    padding: 40px;
    margin-bottom: 100px;
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--very-pale-cyan);
}

header .header-top {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

header .header-top img:hover {
    cursor: pointer;
}

header .header-top button {
    margin-right: 50px;
    padding: 10px 60px;
    border-radius: 15px;
    background-color: white;
    color: var(--very-dark-cyan);
    font-weight: 700;
}

header .header-top button:hover {
    background-color: var(--pink-color);
    color: var(--very-pale-cyan);
    font-weight: 700;
    box-shadow: 0px 0px 8px var(--pink-color);
    cursor: pointer;
}

header .header-hero {
    display: flex;
    justify-content: space-evenly;
}

header .header-hero .hero-image {
    width: 650px;
}


header .header-hero .hero-build {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    text-align: left;
}

header .header-hero .hero-build p {
    margin: 30px 0;
}

header .header-hero .hero-build button {
    width: 50%;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    background-color: var(--pink-color);
    font-weight: 700;
}

header .header-hero .hero-build button:hover {
    background-color: hsl(322.3, 91.5%, 72.4%);
    color: var(--very-dark-cyan);
    font-weight: 600;
    box-shadow: 0px 0px 8px var(--pink-color);
    cursor: pointer;
}



/* <-------------------------------------------------MAINS STYLES--------------> */

.main-container .internal-container {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0;
    margin: 0 50px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 15px #d2d2d2;
    border-radius: 20px;
}

.main-container .internal-container:hover {
    box-shadow: 1px 1px 10px 10px #d2d2d2;
    width: 1345px;
}

.main-container img {
    width: 500px;
    display: flex;
    align-content: center;
}

.main-container .internal-container .internal-div h2 {
    margin-bottom: 15px;
    color: var(--very-dark-cyan);
}

.main-container .internal-container .internal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--grayish-blue);
}

.interdiv-bottom {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.main-container .interdiv-bottom .div-bottom {
    text-align: center;
    width: 645px;
    padding: 40px 0;
    margin: 30px 30px -60px;
    box-shadow: 1px 1px 10px #d2d2d2;
    background-color: white;
    border-radius: 10px;
}

.main-container .interdiv-bottom .div-bottom:hover {
    box-shadow: 1px 1px 5px 5px #d2d2d2;
    width: 650px;
}

.main-container .div-bottom h2 {
    margin-bottom: 15px;
}

.main-container .div-bottom button {
    width: 230px;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    background-color: var(--pink-color);
    font-weight: 700;
}
.main-container .div-bottom button:hover {
    background-color: hsl(322.3, 91.5%, 72.4%);
    color: var(--very-dark-cyan);
    font-weight: 600;
    box-shadow: 0px 0px 8px var(--pink-color);
    cursor: pointer;
}


/* <-------------------------------------------------FOOTER-------------> */

footer {
    display: flex;
    justify-content: space-around;
    padding: 100px 60px 60px;
    background-color: var(--very-dark-cyan);
    color: white;
}

.container-info .inter-container{
   display: flex;
   margin: 25px 20px;

}

.container-info .info-img {
    margin-right: 20px;
}

.links {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.links .left-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    padding: 15px 0;
}

.links .right-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;
}

.social {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.social .social-links img {
    width: 80px;
}

.social .social-links {
    cursor: pointer;
}

.div-atrib .attribution {
    text-align: center;
    margin: 10px;
    font-size: 11px;
}