@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');


/* <------------------------------VARIABLES---------> */
:root {
        /*<------------PRIMARY-------------- */
     --pink-color: hsl(322, 100%, 66%);
     /* <----------------NEUTRAL---------------------> */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

/* <------------------------------INITIALS--------> */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    width: 1440px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

